* {
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: 1352px;
}

.page__header {
    background: #FFFFFF 0 0 no-repeat padding-box;
    opacity: 1;
    position: absolute;
}

.page__header .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #A5A5A5;

}
.page__header .logo {
    text-align: left;
    font: normal normal 300 32px/37px Raleway;
    letter-spacing: 0;
    color: #08A6E4;
    opacity: 1;
    padding: 16px 136px;
}
.page__nav__list {
    display: flex;
    text-align: center;
    font: normal normal bold 11px/15px Open Sans;
    letter-spacing: 3px;
    opacity: 1;

}

.page__nav__list a {
    padding: 15px 30px;
    text-transform: uppercase;
    text-decoration: none;
    color: #A5A5A5;
}

.page__nav__list a:hover {
    border-bottom: 4px solid #08A6E4;
    opacity: 1;
    color: #000000;
}

/*na zmiennych webstorm wyrzuca błędy*/

/*banner*/

.banner .container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10%;
    background-position: bottom;
    background-repeat: no-repeat;
    background-image: url("../assets/Background.png");
    background-size: contain;
}
.banner__title {
    text-align: center;
    font: normal normal normal 49px/57px Raleway;
    letter-spacing: 0;
    color: #000000;
    opacity: 1;
    margin-top: -25%;
}

.banner__text {
    text-align: center;
    font: normal normal normal 16px/22px Open Sans;
    letter-spacing: 0;
    color: #000000;
    opacity: 1;
    margin-top: -2%;
    margin-bottom: 2%;
}
.btn {
    background: #08A6E4 0 0 no-repeat padding-box;
    box-shadow: 27px 3px 14px #07ace629;
    border-radius: 40px;
    opacity: 1;
    text-align: center;
    font: normal normal 14px/22px Open Sans;
    letter-spacing: 0;
    color: #FFFFFF;
    padding: 12px 140px;
    text-decoration: none;
}

.banner__button {
    display: flex;

}

/*statystyki*/

.statistics {
    margin-top: 100px;
}

.statistics__container {
    max-width: 850px;
    margin: 100px auto 120px;
    display: flex;
    justify-content: space-between;
}
h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 2.25rem;
    text-align: center;
}
.statistics__single {
    max-width: 160px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
.statistics__circle {
    border-radius: 50%;
    width: 63px;
    height: 63px;
    position: relative;
}

.statistics__img {
    position: absolute;
}
.statistics__single:nth-child(1) .statistics__circle {
    background-color: #FB3B64;
}

.statistics__single:nth-child(1) .statistics__img {
    top: 0;
    left: 45%;
}

.statistics__single:nth-child(2) .statistics__circle {
    background-color:#08A6E4;
}

.statistics__single:nth-child(2) .statistics__img {
    top: 14px;
    left: 47%;
}

.statistics__single:nth-child(3) .statistics__circle {
    background-color: #55DFB4;
}

.statistics__single:nth-child(3) .statistics__img {
    top: 6px;
    left: 50%;
}
.statistics__number {
    font-size: 1.25rem;
    font-weight: 800;
    letter-spacing: 0.1875rem;
    margin-top: 13px;
}

.statistics__description {
    color: #A5A5A5;
    margin-top: 19px;
}
